<h5>Olá, eu sou</h5>
<h2>Leomar de Sousa Leite</h2>
<h6>Desenvolvedor Full Stack</h6>
<div class="container container_sobre">
    <div class="sobre">
        <div class="sobre_image">
            <img src="assets/images/perfil.png" alt="Foto de Perfil">
        </div>
    </div>
    <div>
        <p>
            Iniciei minha carreira como professor de informática, em 2012, na calorosa São Domingos do Araguaia - PA.
        </p>

        <p>
            Ao longo dessa jornada, aprimorei minhas habilidades de comunicação em público e descobri minha paixão pela programação ao explorar o MS Access e a linguagem VBA.
        </p>

        <p>
            Desde então, venho explorando várias stacks, incluindo HTML, CSS, JavaScript, Bootstrap, Python, PHP, Dart, Flutter e MySQL. Minha busca constante por conhecimento é alimentada pela dedicação ao desenvolvimento tecnológico.
        </p>

        <p>
            Estou pronto para enfrentar desafios empolgantes e contribuir para projetos inovadores. Se busca um profissional comprometido com a excelência, estou pronto para ser parte do seu próximo sucesso!
        </p>
    </div>
</div>
