<header>
    <nav>
        <ul class="menu">
            <li>
                <a href="#sobre">
                    <div class="icon-container">
                        <img src="assets/images/icons/user.svg" alt="Ícone Sobre Mim" width="32" height="32">
                    </div>
                    <div>Sobre Mim</div>
                </a>
            </li>
            <li>
                <a href="#habilidades">
                    <div class="icon-container">
                        <img src="assets/images/icons/skills.svg" alt="Ícone Habilidades" width="32" height="32">
                    </div>
                    <div>Habilidades</div>
                </a>
            </li>
            <li>
                <a href="#servicos">
                    <div class="icon-container">
                        <img src="assets/images/icons/services.svg" alt="Ícone Serviços" width="32" height="32">
                    </div>
                    <div>Serviços</div>
                </a>
            </li>
            <li>
                <a href="#projetos">
                    <div class="icon-container">
                        <img src="assets/images/icons/projects.svg" alt="Ícone Projetos" width="32" height="32">
                    </div>
                    <div>Projetos</div>
                </a>
            </li>
            <li>
                <a href="#recomendacoes">
                    <div class="icon-container">
                        <img src="assets/images/icons/recommendations.svg" alt="Ícone Recomendações" width="32" height="32">
                    </div>
                    <div>Recomendações</div>
                </a>
            </li>
            <li>
                <a href="#contato">
                    <div class="icon-container">
                        <img src="assets/images/icons/contact.svg" alt="Ícone Contato" width="32" height="32">
                    </div>
                    <div>Contato</div>
                </a>
            </li>
        </ul>
    </nav>
</header>
